<h1> All Tracks </h1>
  <ul>
  <% @tracks.each do |track| %>
  
  <li><%=  "Title: #{track.song_title} | Artist: #{track.author}" %>
  <br> 
      <% if session[:user_id] %>
      <%= "Added by: #{track.user.email}" %>
      <% end %>
  </li> 
  
  

 <% end %>
 </ul>
 